<div class="container-fluid">
  <div class="col-md-2">
    <div class="card">
      <div class="card-block">
        <%= image_tag current_user.profile_picture, class: "card-img-top"  %>
        <h5 class="card-title"><%= current_user.username %></h5>
        <h6 class="card-title name"><em><%= current_user.full_name %></em></h6>
        <p class="card-text"><%= current_user.bio %></p>
        <p class="card-text"><div class="followers"><span class="counter"><strong><%= current_user.counts.followed_by %></strong> </span>followers</div></p>
        <hr>
      </div>
      <div class="card-block">
        <h3>Comments</h3>
        <ul>
          <% current_client.tag_search(params[:search]).each do |media| %>
              <% media.comments.data.each do |comment| %>
                  <li id="comment"><%= comment.text %> - <%= comment.from.username %></li>
              <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="my-pics">
      <% current_client.tag_search(params[:search]).each do |media| %>
          <div class="col-md-6 feed-post">
            <%= image_tag media.images.low_resolution.url, class: "card-img-main"  %>
            <div class="post-text">
              <p><%= media["likes"]["count"] %> likes</p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>