<div class="container-fluid">
  <div class="col-md-2">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><%= current_user.username %></h4>
        <h6 class="card-title name"><em><%= current_user.full_name %></em></h6>
        <%= image_tag current_user.profile_picture, class: "card-img-top " %>
        <p class="card-text"><%= current_user.bio %></p>
        <p class="card-text"><div class="followers"><span class="counter"><strong><%= current_user.counts.followed_by %></strong> </span>followers</div></p>
        <hr>
      </div>
      <div class="card-block">
        <h3>Comments</h3>
          <% @posts.each do |post| %>
            <ul>
              <% post.comments.data.each do |comment| %>
                  <li id="comment"><%= comment.text %> - <%= comment.from.username %></li>
              <% end %>
            </ul>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="my-pics">
    <% @posts.each do |post| %>
          <div class="col-md-6 feed-post">
            <a href="" data-toggle="modal" data-target="#post-<%= post.id %>"><%= image_tag post.images.low_resolution.url, class: "card-img-main"  %></a>
            <!-- Modal -->
            <div id="post-<%= post.id %>" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <%= image_tag post.user.profile_picture, id: "modal-prof-pic" %>
                    <%= post.user.username %>
                    <span><%= post["likes"]["count"] %> likes</span>
                  </div>
                  <div class="modal-body">
                    <%= image_tag post.images.standard_resolution.url %>
                  </div>
                  <div class="modal-footer">
                    <ul>
                      <% post.comments.data.each do |comment| %>
                          <li id="comment"><%= comment.text %> - <%= comment.from.username %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>

              </div>
            </div>

            <div class="post-text">
              <p><%= post["likes"]["count"] %> likes</p>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>
